<div class="signup-container">
	{{#if (int-equal currentStep 1)}}
		<br><br>
		<div class="signup-titles">
			<span class="bold large">Join Now!</span><br>
			Connect With Other Students in Your Classes!
		</div>

		<br>
		<div class="signup-question">
			What University do <span class="underline">you</span> go to?
		</div>
		{{#power-select options=universities onchange=(action 'chooseUniversity') placeholder="Please choose your university." allowClear=true selected=uni class="powerselect" searchField="name" as |uni|}}
			{{uni.name}}
		{{/power-select}}
		{{#if uniError}}
			<div class="error">
				Please choose a university to continue.
			</div>
		{{/if}}
		<br><br>
		<div class="signup-question">
			What Courses are <span class="underline">you</span> currently taking?
		</div>
		{{#power-select options=courses onchange=(action 'addCourse') placeholder="Please select a course." allowClear=true class="powerselect" as |course|}}
			{{course.name}} - ({{course.id}})
		{{/power-select}}
		{{#if courseError}}
			<div class="error">
				Please select atleast one service to continue.
			</div>
		{{/if}}
		{{#if anyCourses}}
			<div class="courses-container">
				<div class="text-center padding-top">
					<span class="bold">Courses Selected:</span>
				</div>
				<div class="course-list">
					{{#each selectedCourses as |course index|}}
						{{fa-icon "graduation-cap"}} {{course.name}} - ({{course.id}}) <span class="span-float-right"><a {{action 'removeCourse' index}}>{{fa-icon "minus-circle"}}</a></span><br>
					{{/each}}
				</div>
			</div>
		{{/if}}

		<div class="signup-buttons">
			<a href="/" class="button black">Go Back</a>
			<a class="button gold" {{action 'nextStep'}}>Continue</a>
		</div>
		<br>
	{{/if}}
</div>

<a {{action 'saveUser'}} class="test">Save</a>
