{{#if alreadySignedUp}}
	<div class="already-signedup">
		Sorry, looks like an account with this email has already been created.
	</div>
{{/if}}
<div class="signup-container">
	{{#if (int-equal currentStep 1)}}
		<br><br>
		<div class="signup-titles">
			<span class="bold large">Join Now!</span><br>
			Connect With Other Students in Your Classes!
		</div>
		<br>
		<div class="signup-question">
			What University do <span class="underline">you</span> go to?
		</div>
		{{#power-select options=universities onchange=(action 'chooseUniversity') placeholder="Please choose your university." allowClear=true selected=uni class="powerselect" searchField="name" as |uni|}}
			{{uni.name}}
		{{/power-select}}
		{{#if uniError}}
			<div class="error">
				Please choose a university to continue.
			</div>
		{{/if}}
		<br><br>
		<div class="signup-question">
			What Courses are <span class="underline">you</span> currently taking?
		</div>
		{{#power-select options=courses onchange=(action 'addCourse') placeholder="Please select a course." allowClear=true class="powerselect" as |course|}}
			{{course.name}} - ({{course.id}})
		{{/power-select}}
		{{#if courseError}}
			<div class="error">
				Please select atleast one service to continue.
			</div>
		{{/if}}
		{{#if anyCourses}}
			<div class="courses-container">
				<div class="text-center padding-top">
					<span class="bold">Courses Selected:</span>
				</div>
				<div class="course-list">
					{{#each selectedCourses as |course index|}}
						{{fa-icon "graduation-cap"}} {{course.name}} - ({{course.id}}) <span class="span-float-right"><a {{action 'removeCourse' index}}>{{fa-icon "minus-circle"}}</a></span><br>
					{{/each}}
				</div>
			</div>
		{{/if}}

		<div class="signup-buttons">
			<a href="/" class="button black">Go Back</a>
			<a class="button gold" {{action 'nextStep'}}>Continue</a>
		</div>
		<br>
	{{else}}
		<div class="signup-titles">
			<span class="bold large">Account Information</span><br>
			Input a few pieces of information, and get started right away!
		</div>
		<br>
		<div class="signup-question">
			What is your name?
		</div>
		<div class="text-center">
			{{input type="text" value=name class="inputbox" maxlength="85"}}
		</div>
		<br><br>
		<div class="signup-question">
			Enter your email address
		</div>
		<div class="text-center">
			{{input type="text" value=email class="inputbox" maxlength="85"}}
		</div>
		<br><br>
		<div class="signup-question">
			Create your password
		</div>
		<div class="text-center">
			{{#if displayPassword}}
				{{input type="text" value=password class="inputbox" maxlength="85"}}
			{{else}}
				{{input type="text" value=password class="inputbox" maxlength="85" type="password"}}
			{{/if}}
		</div>
		<div class="display-password-container">
			{{#if displayPassword}}
				<a {{action 'togglePassword'}}>{{fa-icon "check-square-o" size=2}}</a> <span class="text">- Hide your password</span>
			{{else}}
				<a {{action 'togglePassword'}}>{{fa-icon "square-o" size=2}}</a> <span class="text">- Display your password</span>
			{{/if}}
		</div>
		<div class="signup-buttons">
			<a class="button black" {{action 'prevStep'}}>Go Back</a>
			<a class="button gold" {{action 'nextStep'}}>Continue</a>
		</div>
	{{/if}}
</div>

<a {{action 'saveUser'}} class="test">Save</a>
